@mixin altjust {
    align-items: center;
        justify-content: center;
}

footer{
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    padding-top: 40px;
    color: white;

    .footcon{
        display: flex;
        @include altjust();
        flex-direction: column;
        text-align: center;
    }
    
    .footcon h3{
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
    }
    
    .footcon p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
    }
    
    .socials{
        list-style: none;
        display: flex;
        @include altjust();
        margin: 1rem 0 3rem 0;
    }
    
    .socials li{
        margin: 0 10px;
    }
    
    .socials a{
        text-decoration: none;
        color: rgb(88, 27, 230);
    }
    
    .socials a i{
        font-size: 1.1rem;
        transition: color 0.4s ease-in-out;
    }
    
    .socials a:hover i{
        color: red;
    }
    
    .footbot{
        
        background-color: rgb(128, 128, 128);
        width: 100%;
        padding: 15px;
        text-align: center;
    }
    
    .footbot p{
        font-size: 25px;
        word-spacing: 2px;
        text-transform: capitalize;
        margin-top: 1%;
    }
    
    .footbot span{
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    }
}

