.barm{
  grid-row: 2;
  grid-column: 1;
  grid-area: barm1;
  text-align: center;
  padding: 1rem;
}

.barm .menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-orient: vertical;
  box-direction: normal;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: space-around;
  align-items: flex-start;
}

.barm .menu .optmenu {
  padding: 2.5px;
  width: 95%;
}

.barm .menu .optmenu .linkm {
  display: inline-block;
  font-size: 1.75rem;
  width: 95%;
  text-align: left;
}

.barm .menu .optmenu .menusub {
  width: 100%;
  display: flex;
  box-orient: horizontal;
  box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.barmenu .menu .optmenu .menusub li a {
  font-size: 2rem;
}
